data_root_dir=/home/maciej/Desktop/tf_working_dir/SKAJPAI/voice_style_transfer/Speaker_Verification/VCTK-Corpus
wav_dir_name=wav48-8-wav
h5py_path=/home/maciej/Desktop/tf_working_dir/SKAJPAI/voice_style_transfer/voice_conversion/vctk_old/data-8-wavenet.h5
index_path=/home/maciej/Desktop/tf_working_dir/SKAJPAI/voice_style_transfer/voice_conversion/vctk_old/index-8-wavenet.json
train_proportion=0.9
n_samples=500000
seg_len=128
speaker_used_path=/home/maciej/Desktop/tf_working_dir/SKAJPAI/voice_style_transfer/voice_conversion/vctk_old/en_speaker_used.txt
wavenet_mel=1
