data_root_dir=/home/bsrivast/asr_data/voxceleb2/wav
h5py_path=/home/bsrivast/asr_data/voxceleb2/feature/vc/data.h5
index_path=/home/bsrivast/asr_data/voxceleb2/feature/vc/index.json
train_proportion=0.9
n_samples=500000
seg_len=128
speaker_used_path=/home/bsrivast/asr_data/voxceleb2/feature/vc/speaker_used.txt
